[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
transformers = "*"
pytorch = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
google-search-results = "*"

[dev-packages]

[requires]
python_version = "3.11"
